body {
    background-color: #80ED99;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

.intro h2 {
    color: #22577A;
    font-weight: 100;
    font-size: 2rem;
}

.intro p {
    color: #38A3A5;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size:  1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #22577A;
}

#mainNavbar .navbar-brand {
    color: #22577A;
    margin-left: 2rem;
}

#heading-group span {
    color: #22577A;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 3rem;
}

#running-logo {
    width: 8%;
    opacity: 0.75;
}

.footer {
    background-color: #57CC99; 
}

.navbar.scrolled {
    background-color: #57CC99;
    transition: background-color 500ms;
}

@media (max-width: 1200px) {
    #heading-group h1 {
        font-size: 2rem;
    }
}